<mat-card class="h-auto input-card" style="max-width: 650px" #inputContainer>
  <form #form="ngForm">
    <mat-card-title>
      <input
        class="w-full"
        mat-input
        type="text"
        placeholder="Title"
        [(ngModel)]="inputTitle"
        name="inputTitle"
      />
    </mat-card-title>
    <mat-card-content>
      <textarea
        matInput
        placeholder="Take a note..."
        class="inputTextArea w-full"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        [(ngModel)]="inputTextarea"
        name="inputTextarea"
      ></textarea>

      <!-- <textarea *ngIf="noteType === 'list'"
        matInput
        placeholder="Add list item..."
        class="inputTextArea w-full"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        [(ngModel)]="inputTextarea"
        name="inputTextarea"
      ></textarea> -->

      <mat-list *ngIf="noteType === 'list'">
        <mat-list-item *ngFor="let listItem of todoList; let i = index" (click)="checkItem(listItem)">
          <mat-icon *ngIf="listItem.checked" matListItemIcon>check_box</mat-icon>
          <mat-icon *ngIf="!listItem.checked" matListItemIcon>check_box_outline_blank</mat-icon>
          <span>&nbsp;</span>
          <textarea
            matInput
            class="w-full hover:cursor-pointer"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            isReadonly
            [ngStyle]="listItem.checked ? {textDecoration: 'line-through', color: 'grey'} : {}"
            [ngModel]="listItem.content"
            name="checkBoxListItem-{{i}}"
          ></textarea>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check_box_outline_blank</mat-icon>
          <span>&nbsp;</span>
          <input
            matInput
            placeholder="Add list item..."
            class="inputTextArea w-full"
            [(ngModel)]="newTodoItem"
            name="inputTextarea"
            (keydown.enter)="(saveListItem($event))"
          />
        </mat-list-item>
      </mat-list>      
    </mat-card-content>
  </form>
  <!--! PINNED  -->
  <div id="pin-container" class="absolute right-0 top-0">
    <button
      type="button"
      mat-icon-button
      class="material-icons m-auto"
      [matTooltip]="inputPin ? 'Unpin note' : 'Pin note'"
      alt="Pin / Unpin note"
      (click)="onPinClicked()"
    >
      <mat-icon
        [fontSet]="inputPin ? 'material-icons' : 'material-icons-outlined'"
        class="scale-75"
        >push_pin</mat-icon
      >
    </button>
  </div>
  <mat-card-actions class="flex">
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Remind me"
      alt="Remind me"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >add_alert</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Collaborator"
      alt="Collaborator"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >person_add_alt_1</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Background options"
      alt="Background options"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >palette</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Add image"
      alt="Add image"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >image</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Archive"
      alt="Archive"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >archive</mat-icon
      >
    </button>
    <!--! MORE BUTTON  -->
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="More"
      alt="More"
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (click)="onMenuTriggerClicked()"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >more_vert</mat-icon
      >
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDeleteNote()">Delete note</button>
        <button mat-menu-item (click)="onShowLabels()">Add label</button>
        <button mat-menu-item>Add drawing</button>
        <button mat-menu-item>Make a copy</button>
      </mat-menu>
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Undo"
      alt="Undo"
      disabled
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >undo</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Redo"
      alt="Redo"
      disabled
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >redo</mat-icon
      >
    </button>
    <button
      *ngIf="!note"
      mat-button
      class="float-right h-10"
      (click)="disableEditMode()"
    >
      Close
    </button>
    <button
      *ngIf="note"
      mat-button
      class="float-right h-10"
      (click)="disableEditMode()"
      mat-dialog-close
    >
      Close
    </button>
  </mat-card-actions>
</mat-card>
