<mat-toolbar color="primary" class="flex">
  <button mat-icon-button class="material-icons" (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">My App</a>
  <span class="flex-auto"></span>

  <mat-spinner
    *ngIf="isLoading$ | async"
    [diameter]="40"
    color="accent"
  ></mat-spinner>
  <button
    mat-icon-button
    class="material-icons"
    (click)="refreshClicked()"
    *ngIf="!(isLoading$ | async)"
  >
    <mat-icon>refresh</mat-icon>
  </button>

  <button
    mat-icon-button
    class="material-icons"
    (click)="logoutClicked()"
    *ngIf="isAuthenticated$ | async"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
