<mat-card class="input-card">
  <mat-card-title>{{ note.title }}</mat-card-title>
  <mat-card-content>
    <textarea
      class="w-full"
      readonly
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="30"
      >{{ note.content }}</textarea
    >
  </mat-card-content>
  <mat-card-actions class="flex">
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Remind me"
      alt="Remind me"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >add_alert</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Collaborator"
      alt="Collaborator"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >person_add_alt_1</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Background options"
      alt="Background options"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >palette</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Add image"
      alt="Add image"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >image</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="material-icons"
      matTooltip="Archive"
      alt="Archive"
    >
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >archive</mat-icon
      >
    </button>
    <button mat-icon-button class="material-icons" matTooltip="More" alt="More">
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >more_vert</mat-icon
      >
    </button>
    <!-- <button mat-icon-button class="material-icons" matTooltip="Undo" alt="Undo">
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >undo</mat-icon
      >
    </button>
    <button mat-icon-button class="material-icons" matTooltip="Redo" alt="Redo">
      <mat-icon fontSet="material-icons-outlined" class="scale-75"
        >redo</mat-icon
      >
    </button>
    <button mat-button class="float-right h-10">Close</button>  -->
  </mat-card-actions>
</mat-card>
