<mat-card
  class="relative input-card group bg-no-repeat bg-right-bottom"
  style="background-size: 100% auto"
  [ngStyle]="getBackground()"
>
  <div (click)="openEditDialog(note)">
    <mat-card-title>{{ note.title }}</mat-card-title>
    <mat-card-content>
      <textarea
        class="w-full bg-inherit"
        readonly
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        >{{ note.content }}</textarea
      >
    </mat-card-content>
  </div>
  <!--! PINNED  -->
  <div
    id="pin-container"
    class="absolute right-0 top-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
  >
    <button
      mat-icon-button
      class="material-icons m-auto"
      [matTooltip]="note.pinned ? 'Unpin note' : 'Pin note'"
      alt="Pin / Unpin note"
      (click)="onPinClicked()"
    >
      <mat-icon
        [fontSet]="note.pinned ? 'material-icons' : 'material-icons-outlined'"
        class="scale-75"
        >push_pin</mat-icon
      >
    </button>
  </div>
  <mat-card-actions class="flex flex-col">
    <!--! LABELS -->
    <div
      id="labels"
      *ngIf="(note.labels && note.labels.length > 0) || showLabels"
    >
      <mat-form-field class="w-full">
        <mat-label
          class="opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >Labels</mat-label
        >
        <mat-chip-list #chipList aria-label="Label selection" class="w-full">
          <mat-chip *ngFor="let label of note.labels" (removed)="remove(label)">
            {{ label }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            class="opacity-0 group-hover:opacity-100 focus:opacity-100 transition-opacity duration-300"
            placeholder="New label..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div
      id="buttons"
      class="flex opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      [ngClass]="{
        'opacity-100': menuTrigger.menuOpen || backgroundMenuTrigger.menuOpen
      }"
    >
      <button
        mat-icon-button
        class="material-icons"
        matTooltip="Remind me"
        alt="Remind me"
      >
        <mat-icon fontSet="material-icons-outlined" class="scale-75"
          >add_alert</mat-icon
        >
      </button>
      <button
        mat-icon-button
        class="material-icons"
        matTooltip="Collaborator"
        alt="Collaborator"
      >
        <mat-icon fontSet="material-icons-outlined" class="scale-75"
          >person_add_alt_1</mat-icon
        >
      </button>

      <!--! BACKGROUND -->
      <button
        mat-icon-button
        class="material-icons"
        matTooltip="Background options"
        alt="Background options"
        #backgroundMenuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="backgroundMenu"
      >
        <mat-icon fontSet="material-icons-outlined" class="scale-75"
          >palette</mat-icon
        >
      </button>
      <mat-menu #backgroundMenu="matMenu">
        <div class="flex items-center p-2 gap-1">
          <ng-container
            *ngFor="let color of bgColors | keyvalue: originalOrder; index as i"
          >
            <div class="h-7 w-7">
              <button
                class="h-full w-full font-black rounded-full border-solid border-2 border-transparent bg-no-repeat bg-center hover:border-black hover:border-opacity-80 hover:cursor-pointer first-of-type:border-gray-200"
                [ngStyle]="{
                  backgroundColor: color.value,
                  backgroundImage:
                    i === 0 ? 'url(/assets/images/svg/nocolor.svg)' : '',
                  borderColor:
                    this.note.background === color.key ? '#3f51b5' : ''
                }"
                [matTooltip]="color.key"
                (click)="changeBackgroundColor(color.key)"
              ></button>
            </div>
          </ng-container>
        </div>

        <div class="flex items-center p-2 gap-1">
          <ng-container
            *ngFor="let image of bgImages | keyvalue: originalOrder; index as i"
          >
            <div class="h-10 w-10">
              <button
                class="h-full w-full font-black rounded-full border-solid border-2 border-transparent bg-no-repeat bg-center hover:border-black hover:border-opacity-80 hover:cursor-pointer first-of-type:border-gray-200"
                [ngStyle]="{
                  backgroundColor: 'transparent',
                  backgroundImage:
                    i === 0
                      ? 'url(/assets/images/backgrounds/no-image.png)'
                      : 'url(' + image.value.replace('.svg', '_ph.svg') + ')',
                  borderColor:
                    this.note.background === image.key ? '#3f51b5' : ''
                }"
                [matTooltip]="image.key"
                (click)="changeBackgroundColor(image.key)"
              ></button>
            </div>
          </ng-container>
        </div>
      </mat-menu>

      <button
        mat-icon-button
        class="material-icons"
        matTooltip="Add image"
        alt="Add image"
      >
        <mat-icon fontSet="material-icons-outlined" class="scale-75"
          >image</mat-icon
        >
      </button>
      <button
        mat-icon-button
        class="material-icons"
        matTooltip="Archive"
        alt="Archive"
      >
        <mat-icon fontSet="material-icons-outlined" class="scale-75"
          >archive</mat-icon
        >
      </button>
      <!--! MORE BUTTON  -->
      <button
        mat-icon-button
        class="material-icons"
        matTooltip="More"
        alt="More"
        [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"
      >
        <mat-icon fontSet="material-icons-outlined" class="scale-75"
          >more_vert</mat-icon
        >
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onDeleteNote()">Delete note</button>
          <button mat-menu-item (click)="onShowLabels()">Add label</button>
          <button mat-menu-item>Add drawing</button>
          <button mat-menu-item>Make a copy</button>
        </mat-menu>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
