<header>
  <app-header (sidenavToggle)="onSidenavToggle()"></app-header>
</header>
<mat-sidenav-container autosize class="my-container">
  <mat-sidenav
    class="sidenav"
    #sidenav
    mode="side"
    opened
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [fixedBottomGap]="0"
  >
    <aside>
      <app-sidenav></app-sidenav>
    </aside>
  </mat-sidenav>
  <!--TODO: Play with the 10% and add transition -->
  <!-- https://stackoverflow.com/questions/46835554/angular-material-side-bar-with-half-side-mode -->
  <mat-sidenav-content
    [style.left]="(isExpanded$ | async) ? '10%' : '0'"
    class="transition-all"
  >
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
