<header>
  <app-header (sidenavToggle)="onSidenavToggle()"></app-header>
</header>
<mat-sidenav-container
  autosize
  [ngClass]="{ 'container-closed': !(isExpanded$ | async) }"
>
  <mat-sidenav
    class="sidenav"
    #sidenav
    mode="side"
    opened
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [fixedBottomGap]="0"
  >
    <aside>
      <app-sidenav></app-sidenav>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
