<app-input></app-input>
<!-- <mat-grid-list
  [cols]="breakpoint"
  rowHeight="2:1"
  (window:resize)="onResize($event)"
  class="example-list"
  cdkDropList
  [cdkDropListData]="notes"
  (cdkDropListDropped)="drop($event)"
>
  <mat-grid-tile *ngFor="let note of notes">
    <app-note class="example-box" cdkDrag [note]="note"></app-note>
  </mat-grid-tile>
</mat-grid-list> -->

<div
  class="example-list w-full flex flex-col items-center justify-between box-border gap-4"
  cdkDropList
  [cdkDropListData]="notes"
  (cdkDropListDropped)="drop($event)"
>
  <app-note
    *ngFor="let note of notes"
    class="example-box flex flex-row items-center justify-between box-border"
    cdkDrag
    [note]="note"
  ></app-note>
</div>
