<app-input></app-input>
<!-- <mat-grid-list
  [cols]="breakpoint"
  rowHeight="2:1"
  (window:resize)="onResize($event)"
  class="example-list"
  cdkDropList
  [cdkDropListData]="notes"
  (cdkDropListDropped)="drop($event)"
>
  <mat-grid-tile *ngFor="let note of notes">
    <app-note class="example-box" cdkDrag [note]="note"></app-note>
  </mat-grid-tile>
</mat-grid-list> -->

<!-- To be added to container div
cdkDropList
[cdkDropListData]="notes"
(cdkDropListDropped)="drop($event)"
To be added to app-note
cdkDrag -->

<!--! PINNED NOTES -->
<div
  class="example-list w-full flex flex-col items-center justify-between box-border gap-4"
  *ngIf="(notes$ | notesFilter: true | async)!.length > 0"
>
  <div
    class="input-card text-left px-4 mat-body-strong opacity-8"
    *ngIf="(notes$ | notesFilter: false | async)!.length > 0"
  >
    Pinned
  </div>
  <app-note
    *ngFor="let note of notes$ | notesFilter: true | async"
    class="example-box flex flex-row items-center justify-between box-border"
    [note]="note"
  ></app-note>
</div>

<!--! OTHER NOTES -->
<div
  class="example-list w-full flex flex-col items-center justify-between box-border gap-4"
  *ngIf="(notes$ | notesFilter: false | async)!.length > 0"
>
  <div
    class="input-card text-left px-4 mt-4 mat-body-strong opacity-80"
    *ngIf="(notes$ | notesFilter: true | async)!.length > 0"
  >
    Other
  </div>
  <app-note
    *ngFor="let note of notes$ | notesFilter: false | async"
    class="example-box flex flex-row items-center justify-between box-border"
    [note]="note"
  ></app-note>
</div>

<div class="input-card my-4"></div>
