<div class="flex justify-center items-center box-border my-3">
  <!-- Edit Mode = false -->
  <mat-card
    class="h-auto input-card"
    style="min-width: 50vw; max-width: 598px"
    *ngIf="!(isEditMode$ | async)"
  >
    <mat-card-header>
      <mat-card-title>
        <input
          mat-input
          type="text"
          placeholder="Take a note..."
          class="float-left h-10"
          (click)="newTextNote()"
        />
        <div class="float-right">
          <button
            mat-icon-button
            class="material-icons"
            matTooltip="New list"
            alt="New list"
          >
            <mat-icon fontSet="material-icons-outlined"
              >check_box</mat-icon
            ></button
          ><button
            mat-icon-button
            class="material-icons"
            matTooltip="New note with drawing"
            alt="New note with drawing"
          >
            <mat-icon fontSet="material-icons-outlined">brush</mat-icon></button
          ><button
            mat-icon-button
            class="material-icons"
            matTooltip="New note with image"
            alt="New note with image"
          >
            <mat-icon fontSet="material-icons-outlined">image</mat-icon>
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <!-- Edit Mode = true -->
  <app-edit *ngIf="isEditMode$ | async"></app-edit>
</div>
