/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --menu-width-open: 200px;
  --menu-width-closed: 64px;
}

.mat-drawer-container .mat-drawer {
  box-sizing: content-box;
  width: var(--menu-width-open);
  transition: all 0.3s ease-in-out !important;
}

.mat-drawer-container .mat-drawer-content {
  margin-left: var(--menu-width-open) !important;
  transition: all 0.3s ease-in-out !important;
}

.mat-drawer-container.container-closed .mat-drawer {
  width: var(--menu-width-closed);
}

.mat-drawer-container.container-closed .mat-drawer-content {
  margin-left: var(--menu-width-closed) !important;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input-card {
  width: 576px;
  max-height: 576px
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}
